@use "../modules/index" as *;
// : made
// : made-col
// : best-seller
// : mede-aperitifs

.made {
   padding: 105px 0 50px 0;
   &__header {
      max-width: 703px;
      text-align: center;
      margin: 0 auto 80px auto;
      @media only screen and (max-width: $md3) {
         @include AV("margin-bottom", 0, 80, 1);
      }
   }

   &__title {
   }

   &__sub-title {
   }

   &__col {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      margin-bottom: 140px;
   }

   &__content-img {
      width: 100%;
      max-height: 560px;
      margin-top: 60px;
      margin-bottom: 40px;
      @include AV("margin-bottom", 0, 40, 1);
      @include AV("margin-top", 20, 60, 1);
      object-fit: contain;
   }
}

.made-col {
   &__col {
      flex: 0 1 33.333%;
      max-width: 372px;
      margin: 0 18px;
      position: relative;
      @media only screen and (max-width: $md3) {
         margin: 10px 0;
      }
   }

   &__body {
      text-align: center;
      max-width: 100%;
      *:last-child {
         margin-bottom: 0;
      }
   }

   &__img {
      height: 451px;
   }

   &__title {
      margin-bottom: 10px;
   }

   &__text {
      margin-bottom: 22px;
      font-size: 16px;
      @media only screen and (max-width: $md3) {
         margin: 0 20px 22px 20px;
      }
   }

   &__btn {
      margin-bottom: 20px;
   }

   &__best-seller {
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 10px;

      width: 100px;
      height: 100px;
      background-color: #191919;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: $md3) {
         right: 40px;
         top: 10px;
      }
   }
}

.best-seller {
   &__text {
      position: absolute;
      text-align: center;
      z-index: 2;
      color: #fff;
   }
}

.mede-aperitifs {
   &__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
      @include AV("margin-bottom", 40, 90, 1);
      @media only screen and (max-width: $md2) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
   }

   &__title {
      // font-family: Liberation Serif;
      font-size: 53px;
      @include AV("font-size", 33, 53, 1);
      line-height: 80px;
   }

   &__text {
      max-width: 548px;
      @media only screen and (max-width: $md2) {
         text-align: center;
      }
   }
}
