.alcohol
   .container 
      .alcohol__row

         .alcohol__img
            img(src="img/alchohol/content.jpg", alt="#")

         .alcohol-content.alcohol__content
            .alcohol-content__body 

               h1.alcohol-content__title Alcohol for the modern drinker
               p.alcohol-content__text.
                  Light and refreshing flavors made with real, clean ingredients you can feel good about. Just pour, sip, and enjoy.
               a(href="#").alcohol-content__button.btn
                  span Shop ALL
