section.alcohol
   .alcohol__row

      .alcohol__img
         img(src="img/alchohol/content.jpg" alt="#")

      .alcohol-content.alcohol__content
         .alcohol-content__body 

            h1.alcohol-content__title Alcohol for the modern drinker
            p.alcohol-content__text.
               Light and refreshing flavors made with real, clean ingredients you can feel good about. Just pour, sip, and enjoy.
            a(href="#").alcohol-content__button.btn
               span Shop ALL
   ._container 
      <article class="alcohol-col">
         <div class="alcohol-col__col">
            <div class="alcohol-col__body">
               <q>“What makes Haus so special is its incredible flavors.”</q>
               .alcohol-col__img 
                  img(src="@img/alchohol/icons/Rectangle.svg" alt="#")
            </div>
         </div>
         <div class="alcohol-col__col">
            <div class="alcohol-col__body">
               <q>“For the wine or cocktail lover who’s tried it all and wants something new and refreshing.”</q>
               .alcohol-col__img 
                  img(src="@img/alchohol/icons/Rectangle (1).svg" alt="#")
            </div>
         </div>

         <div class=" alcohol-col__col">
            <div class="alcohol-col__body">
               <q>“Cleaner, responsibly sourced, and lower in alcohol.”</q>
               .alcohol-col__img 
                  img(src="@img/alchohol/icons/Rectangle (2).svg" alt="#")
            </div>
         </div>
      </article>
      .line
