<div class="header-top">
    Free shipping on orders over $50
</div>
<header class="header">
    <div class="_container">
        <div class="header__body">

            <div class="header__burger">
                <span></span>
            </div>

            <div class="header__menu">
                <nav class="header-navigation header__navigation">
                    <ul class="header-navigation__list-side">

                        <li class="header-navigation__list-link"><a href="#">shop</a></li>
                        <li class="header-navigation__list-link"><a href="#">membership</a></li>
                        <li class="header-navigation__list-link"><a href="#">our story</a></li>

                    </ul>

                    <div class="header-navigation__logo">
                        <!-- svg -->
                    </div>

                    <ul class="header-navigation__list-side">

                        <li class="header-navigation__list-link"><a href="#">Newsletter</a></li>
                        <li class="header-navigation__list-link"><a href="#">Account</a></li>
                        <li class="header-navigation__list-link"><a href="#">Cart (0)</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>