section.made
   ._container
      .made__header
         h2.made__title.big-title.
            Made with natural ingredients, nothing fake
         .made__sub-title.mini-title Shop All Flavors

      article.made__col.made-col
         .made-col__col
            .made-col__body
               img.made-col__img(src="@img/made/Rectangle.png" alt="#")
               h3.made-col__title.medium-title The Sampler Kit
               p.made-col__text.
                  Try a variety of Haus flavors with our customizable four-bottle kit. Each bottle serves 2-3 drinks.
               a(href="#").made-col__btn.black-btn
                  span Shop Now

         article.made-col__col
            .made-col__best-seller.best-seller
               .best-seller__text.small-title best <br> seller
            .made-col__body
               img.made-col__img(src="@img/made/Rectangle (1).png" alt="#")
               h3.made-col__title.medium-title Grapefruit Jalapeño
               p.made-col__text.
                  Light and refreshing, this aperitif is a bright blend of citrus with a subtle kick of fresh jalapeño.
               a(href="#").made-col__btn.black-btn
                  span Shop Now

         article.made-col__col
            .made-col__best-seller.best-seller
               .best-seller__text.small-title best <br> seller
            .made-col__body
               img.made-col__img(src="@img/made/Rectangle (2).png" alt="#")
               h3.made-col__title.medium-title Citrus Flower
               p.made-col__text.
                  A fresh Californian take on the apéritif. Made with crisp lemon and subtle elderflower.
               a(href="#").made-col__btn.black-btn
                  span Shop Now
      .line
      img(src="@img/made/Rectangle (3).jpg" alt="#").made__content-img
      .mede-aperitifs.mede-aperitifs__row
         h2.mede-aperitifs__title An intro to apéritifs
         p.mede-aperitifs__text.
            Apéritifs are a category of spirits with complex flavors derived from fruits, herbs, and botanicals. Their lighter alcohol content (less than whiskey, more than wine) makes them perfect to sip all evening.
      .line
      .made__col2

         article.made-col2
            .made-col2__body
               h3.made-col2__title.medium-title Easy to drink
               p.made-col2__text.
                  The perfect anytime drink, sip Haus on its own or with simple mixers you probably already have like soda or tonic.

            .made-col2__body
               h3.made-col2__title.made-col2__title--big Natural ingredients. Nothing fake.
               p.made-col2__text.
                  Artificial ingredients and refined sugars are a big culprit in hangovers. Feel good about what’s in your glass that night — and the next day.

            .made-col2__body
               h3.made-col2__title.medium-title Delivered to your door
               p.made-col2__text.
                  We blend, bottle, and ship our products straight from Sonoma, CA to your doorstep.
         .made-col2__img
            img(src="@img/made/Rectangle (4).jpg" alt="#")
   article.made__col3.made-col3
      ._container
         .made-col3__row

            .made-col3__body
               p.made-col3__text.
                  “Haus has found the solution I didn’t really know I was looking for!”
               .made-col3__sub-text — Susan
               .made-col3__verify verified buyer

            .made-col3__body
               p.made-col3__text.
                  “I love the flavor of this apéritif — it’s light and lively, and it’s refreshing with seltzer or tonic.”
               .made-col3__sub-text — Fiona
               .made-col3__verify verified buyer

            .made-col3__body
               p.made-col3__text.
                  “It’s delicious, and unique. I love everything from the packaging, to the flavors.”
               .made-col3__sub-text — Esteban
               .made-col3__verify verified buyer