.made
   ._container
      .made__header
         .made__title.big-title.
            Made with natural ingredients, nothing fake
         .made__sub-title.mini-title Shop All Flavors

      .made__col.made-col
         .made-col__col
            .made-col__body
               img.made-col__img(src="@img/made/Rectangle.png", alt="#")
               .made-col__title.medium-title The Sampler Kit
               .made-col__text.
                  Try a variety of Haus flavors with our customizable four-bottle kit. Each bottle serves 2-3 drinks.
               a(href="#").made-col__btn.black-btn
                  span Shop Now

         .made-col__col
            .made-col__best-seller.best-seller
               .best-seller__text.small-title best <br> seller
            .made-col__body
               img.made-col__img(src="@img/made/Rectangle (1).png", alt="#")
               .made-col__title.medium-title Grapefruit Jalapeño
               .made-col__text.
                  Light and refreshing, this aperitif is a bright blend of citrus with a subtle kick of fresh jalapeño.
               a(href="#").made-col__btn.black-btn
                  span Shop Now

         .made-col__col
            .made-col__best-seller.best-seller
               .best-seller__text.small-title best <br> seller
            .made-col__body
               img.made-col__img(src="@img/made/Rectangle (2).png", alt="#")
               .made-col__title.medium-title Citrus Flower
               .made-col__text.
                  A fresh Californian take on the apéritif. Made with crisp lemon and subtle elderflower.
               a(href="#").made-col__btn.black-btn
                  span Shop Now
      .line
      img(src="@img/made/Rectangle (3).jpg" alt="#").made__content-img
      .mede-aperitifs.mede-aperitifs__row
         .mede-aperitifs__title An intro to apéritifs
         .mede-aperitifs__text.
            Apéritifs are a category of spirits with complex flavors derived from fruits, herbs, and botanicals. Their lighter alcohol content (less than whiskey, more than wine) makes them perfect to sip all evening.
      .line