.set.ibg
   img(src="img/set/Rectangle.jpg" alt="#")
   ._container
      .set__mood.set-mood
         .set-mood__body 
            h2.set-mood__title Set the mood
            p.set-mood__text.
               Curated playlists from Woody + Helena, plus some of our friends and favorite brands.
            a(href="#").set-mood__btn.btn.white-btn
               span Spotify

      .set__follow.set-follow
         .set-follow__body
            p.set-follow__text Follow us, share us, drink Ha(us)
            ul.set-follow__list
               li
                  a.set-follow__list-link(href="#") Instagram
               li
                  a.set-follow__list-link(href="#") Twitter
               li
                  a.set-follow__list-link(href="#") Facebook

