section.stay
   ._container
      .stay__row
         form.stay__form.stay-form(action="#") 
            .stay-form__title Stay posted
            .stay-form__text.
               Let's be friends. Subscribe to our newsletter to receive updates on new launches, recipes, playlists, and more.
            .stay-form__input
               input(type="text" placeholder="YOUR EMAIL ADDRESS")
               button(type="submit").small-title Submit

         .stay__list.stay-list
            article.stay-list__column
               .stay-list__title Explore <span></span>
               ul.stay-list__list

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Home

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Shop

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Membership

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Our Story

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") FAQ

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Refer a Friend

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Corporate Gifting

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Gift Card

            article.stay-list__column
               .stay-list__title Follow <span></span>
               ul.stay-list__list

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Instagram


                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Spotify

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Twitter

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") Facebook

            article.stay-list__column
               .stay-list__title Drop Us a Line <span></span>
               ul.stay-list__list

                  li.stay-list__list-item

                     a.stay-list__list-link.mini-title(href="#") hello@drink.haus
                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") press@drink.haus

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") partnerships@drink.haus

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") jobs@drink.haus

                  li.stay-list__list-item
                     a.stay-list__list-link.mini-title(href="#") wholesale@drink.haus
