section.we
   ._container
      .we__row
         .we__img
            img(src="@img/we/Rectangle.png", alt="#")
         .we__right.we-right
            .we-right__top
               h2.we-right__title.big-title We do things differently than most producers
            .we-right__bottom
               p.we-right__text.
                  Our flavors are derived from real fruits, herbs, and botanicals, not ingredients from a lab. We leave out the artificial ingredients and excess sugar, and tell you what’s inside. It’s a better way to drink.
               a(href="#").we-right__learn-more.small-title LEARN MORE
